@import "../../stylesheets/atoms/base";

html {
  overflow-y: hidden;

  .container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .section {
      flex: 0 0 auto;
      height: 100vh;
    }

    .person {
      width: 95vw;
      background-color: $black;
      display: flex;

      img {
        height: 100%;
      }

      .info {
        padding: 2rem;
        align-self: flex-end;
        font-family: $butler;
        color: $white;
        font-weight: $bold;

        .title {
          font-size: 12rem;
          margin-bottom: 2rem;
        }

        .desc {
          font-size: 4rem;
          opacity: 0.3;
          line-height: 5rem;
        }
      }
    }

    .animal {
      width: 100vw;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      img {
        height: 80%;
        margin-bottom: 0rem;
      }

      .first-img-text {
        margin: 0 0 10rem -25rem;
        height: 30rem;
      }
    }

    .conclusion {
      width: 90vw;
      display: flex;
      justify-content: flex-end;

      .second-img-text {
        img {
          margin: 30rem 15rem;
          height: 25rem;
        }
      }
    }

    .isabel {
      background-color: $yellow;
    }

    .nadege {
      background-color: $orange;
    }

    .gabriela {
      background-color: $soft-black;
    }

    .rosa {
      background-color: $blue;
    }
  }
}
