@import url(//db.onlinewebfonts.com/c/e50f08c648d677fc2b0f52ac98afb797?family=Ayuthaya);
/* weight */
.col-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[4];
      grid-template-columns: repeat(4, 20%);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 6.5rem;
}

html {
  background-image: url("../../images/gradient1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

html .background {
  position: absolute;
  color: #EBEBEB;
  opacity: 0.1;
  font-family: ButlerStencil, serif;
  font-weight: 700;
  line-height: 100px;
  z-index: -1;
}

html .text {
  padding-top: 20rem;
  color: #EBEBEB;
  font-size: 1rem;
  font-family: Spartan, serif;
  line-height: 30px;
}

html .text .reference {
  color: #EBEBEB;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(172, 106, 172, 0)), color-stop(0%, #EBEBEB), color-stop(60%, #EBEBEB), color-stop(60%, rgba(172, 106, 172, 0)));
  background-image: linear-gradient(to bottom, rgba(172, 106, 172, 0) 50%, #EBEBEB 0%, #EBEBEB 60%, rgba(172, 106, 172, 0) 60%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: 0.8s linear;
  transition: 0.8s linear;
  font-weight: 700;
}

html .text .reference:hover {
  background-size: 100% 2rem;
  opacity: 0.2;
}

html .first {
  height: 100vh;
}

html .first .first-b {
  top: 4rem;
  width: 40rem;
  font-size: 8rem;
  line-height: 120px;
}

html .first .text p {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
}

@media (max-width: 550px) {
  html .first .text p {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
  }
}

html .second {
  height: 100vh;
  margin-top: 120rem;
}

html .second .second-b {
  top: 190rem;
  right: 0;
  width: 70rem;
  text-align: right;
  line-height: 120px;
}

html .second .text p {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: 550px) {
  html .second .text p {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
  }
}

html .third {
  height: 100vh;
  margin-top: 100rem;
}

html .third .third-b {
  top: 350rem;
  width: 70%;
  font-size: 15rem;
  line-height: 250px;
}

html .third .text p {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
}

@media (max-width: 550px) {
  html .third .text p {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
  }
}

html .fourth {
  height: 100vh;
  margin-top: 80rem;
}

html .fourth .fourth-b {
  right: 0;
  width: 80rem;
  font-size: 9rem;
  text-align: right;
  line-height: 150px;
}

html .fourth .text p {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: 550px) {
  html .fourth .text p {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
  }
}

html .fifth {
  height: 100vh;
  margin-top: 50rem;
}

html .fifth .fifth-b {
  top: 630rem;
  width: 80%;
  font-size: 7rem;
  line-height: 100px;
}

@media (max-width: 550px) {
  html .fifth .fifth-b {
    top: 590rem;
  }
}

html .fifth .text p {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
}

@media (max-width: 550px) {
  html .fifth .text p {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
  }
}
/*# sourceMappingURL=summary.css.map */