@import "../../stylesheets/atoms/base";

html {
  background-image: url("../../images/gradient1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .background {
    position: absolute;

    color: $white;
    opacity: 0.1;

    font-family: $butler;
    font-weight: $bold;
    line-height: 100px;
  }

  .text {
    padding-top: 20rem;
    color: $white;

    font-size: 1rem;
    font-family: $spartan;
    line-height: 30px;

    .reference {
      color: $white;
      width: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(172, 106, 172, 0) 50%,
        $white 0%,
        $white 60%,
        rgba(172, 106, 172, 0) 60%
      );
      background-size: 0 100%;
      background-repeat: no-repeat;
      transition: 0.8s linear;
      font-weight: 700;

      &:hover {
        background-size: 100% 2rem;
        opacity: 0.2;
      }
    }

    p:hover {
      .reference {
      }
    }
  }

  .first {
    height: 100vh;

    .first-b {
      top: 4rem;
      width: 40rem;

      font-size: 8rem;
      line-height: 120px;
    }

    .text {
      p {
        grid-column-start: 3;
        grid-column-end: 5;
      }
    }
  }

  .second {
    height: 100vh;

    margin-top: 120rem;

    .second-b {
      top: 190rem;
      right: 0;
      width: 70rem;

      text-align: right;
      line-height: 120px;
    }

    .text {
      p {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }

  .third {
    height: 100vh;

    margin-top: 100rem;

    .third-b {
      top: 350rem;
      width: 50rem;

      font-size: 15rem;
      line-height: 250px;
    }

    .text {
      p {
        grid-column-start: 3;
        grid-column-end: 5;
      }
    }
  }

  .fourth {
    height: 100vh;

    margin-top: 50rem;

    .fourth-b {
      right: 0;
      width: 80rem;

      font-size: 9rem;
      text-align: right;
      line-height: 150px;
    }

    .text {
      p {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }

  .fifth {
    height: 100vh;

    .fifth-b {
      width: 80rem;

      font-size: 7rem;
      line-height: 100px;
    }

    .text {
      p {
        grid-column-start: 3;
        grid-column-end: 5;
      }
    }
  }
}
