@import "../../stylesheets/atoms/base";

html {
  background-color: $blue;
}

.container {
  .quote {
    grid-column: 1/5;
    margin-bottom: 10rem;

    font-family: $butler;
    font-size: 6rem;
    line-height: 9rem;

    @include desktop {
      line-height: 7rem;
      font-size: 4rem;
    }

    .intro {
      color: $black;
      margin: 10rem 0;

      .pink {
        color: $pink;
      }
    }

    .conclusion {
      margin: 10rem 0;
      color: $white;

      .yellow {
        color: $yellow;
      }
    }
  }

  .history {
    grid-column: 1/5;
    background-color: $black;
    padding: 6rem;

    @include desktop {
      padding: 4rem;
    }

    @include phablet {
      padding: 2rem;
    }

    .title {
      text-align: center;
      color: $yellow;
      margin-bottom: 5rem;

      @include desktop {
        font-size: 4.5rem;
      }

      @include phablet {
        font-size: 3rem;
      }
    }

    .text {
      color: $white;
      font-family: $spartan;
      font-size: 1.5rem;
      line-height: 37.5px;

      p {
        margin-bottom: 2rem;

        @include phablet {
          margin-bottom: 1rem;
        }
      }

      @include desktop {
        font-size: 1.2rem;
        line-height: 30px;
      }

      @include phablet {
        font-size: 0.9rem;
        line-height: 20px;
      }
    }

    .small {
      margin-top: 5rem;
      font-size: 1rem;
      line-height: 22px;
      font-weight: 100;

      @include desktop {
        font-size: 0.9rem;
        line-height: 20px;
      }

      @include phablet {
        font-size: 0.6rem;
        line-height: 15px;
      }
    }
  }
}
