@import url(//db.onlinewebfonts.com/c/e50f08c648d677fc2b0f52ac98afb797?family=Ayuthaya);

$butler: ButlerStencil, serif;
$spartan: Spartan, serif;
$ayuthaya: Ayuthaya;

/* weight */
$black: 900;
$bold: 700;
$regular: 500;
