.col-3 {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  column-gap: 1rem;

  justify-content: center;
}

@mixin phablet {
  @media (max-width: 550px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 750px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin hd {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin resolution($r) {
  @media (max-width: #{$r}) {
    @content;
  }
}
